
.container-fluid {
  /*background-color: #000000;*/
}


#wrapper {
  float: left;
}
#genin-tile, #chunin-tile, #jonin-tile {
  background-color: #979797;
  height: 700px;
  margin-bottom: 15px;
  position: relative;
  border: 1px solid #000000;
  padding-left: 8px;
  padding-right: 8px;
}


#back-to-top {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.2em;
}
/******* From lecture *******/
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid #000000;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #161616;
  text-align: center;
  background-color: #4caf50;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

/* Shinobi Brand */
.navbar-brand h1 { 
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

}